{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
    <title>Document</title>
    
</head>
<body>
    
    <!-- NAVBAR -->
        <nav>
            <div class="container nav-container">
                <span class="brand disable-selection">LOGO</span>
                <ul class="nav-items">
                    <li class="nav-item">Login</li>
                    <li class="nav-item">Signup</li>
                </ul>

            </div>
        </nav>

    <!-- END NAVBAR -->

    {% for task in mytasks %}
        <div class="task-item">
            <p> {{ task.title }} </p>
            <p> {{ task.description }} </p>
        </div>
    {% endfor %}
    
</body>
</html>